* {
    margin: 0;
    padding: 0;
    font-size: 12px;

}

.all {
    width: 100%;
    height: 1000px;
    background: linear-gradient(to right, #ffa6a6, #ba78dc);

}

.chat_index {
    width: 1000px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.chat_banner {
    background: linear-gradient(to right, #a41adc, #ef275e, rgba(65, 5, 89, 0.89));
width: 999px;
    height: 50px;
    border: 1px solid black;
    text-align: right;
}



.chat_body {
    width: 999px;
    height: 546px;
    border: 1px solid black;
}

.chat_online {
    overflow: hidden;
    float: left;
    height: 546px;
    width: 200px;
    border: 1px solid black;
    background-color: #c2c2cb;
}

.search_online {
    text-indent: 1em;
    height: 40px;
    border: 1px solid black;
    margin: auto;
}

.search_online input[type="text"] {
    outline: black;
    margin: 2px auto;
    height: 30px;
    width: 70%;
    border-radius: 8px;
    text-indent: 2em;
}

.online_friend ul li {

    list-style-type: none;
}

.online_friend ul li {

    height: 60px;
    border-bottom: 1px solid #1c1f21;
    margin-top: 10px;
}

.a_friend {
    margin-top: -10px;
    border: 1px solid rgba(2, 11, 14, 0.82);
    height: 60px;
    background-color: rgba(189, 5, 241, 0.56);


}

.head_portrait {
    background-color: #b532ff;
    margin: 6px 6px;
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;

}

.head_text {
    padding: 3px;
    font-size: 22px;
    text-align: center;
    vertical-align: center;
    margin-top: 6px;
    margin-left: 40px;
}

.friend {

    float: right;
    height: 54px;
    width: 140px;

}

.friend .name {

    margin: 4px 6px;
    float: left;
}

.friend .this_time {
    margin-top: 4px;
    float: right;
}

.chat_main {
    float: left;
    width: 548px;
    height: 546px;
    border: 1px solid black;
    background-color: white;
    background-size: cover;
}


.send_message {
    width: 549px;
    left: 202.5px;
    height: 67px;
    position: absolute;
    bottom: -1px;
    border: 1px solid black;
    background: linear-gradient(to bottom, rgba(9, 216, 237, 0.99), #d659fa);
}

.send_message input[type="text"] {
    width: 470px;
    height: 30px;
    margin-top: 16px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    text-indent: 2em;
    outline: none;
    background-color: white;
    border: 1px solid black;
}

.send_message input[type="button"] {
    border-radius: 0 10px 10px 0;
    width: 35px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    outline: none;
}

.send_message input[type="button"]:hover {
    background-color: rgba(255, 117, 247, 0.85);
}

.send_message input[type="button"]:active {
    background-color: rgb(241, 49, 255);
}

.chat_namecard {
    float: left;
    width: 245px;
    height: 546px;
    border: 1px solid black;
    background-color: #c2c2cb;
}


.chat_content ul{
    list-style-type: none;
}
.chat_content{
    overflow: auto;
    width: 540px;
height: 470px;
}
.chat_content li{
    margin-top: 10px;
    width: 540px;
    clear: both;
    display: block;

}

.chat_content li img{
    margin: 6px 0 0 0;
}

.chat_content li span {
    background: #e1d8d8;
    padding: 10px;
    border-radius: 10px;
/ * Максимальная ширина не может быть слишком большой, иначе макет будет беспорядочным * /
    max-width: 400px;
    border: 1px solid white;
    box-shadow: 0 0 3px #879eee;
    margin: 6px 10px 0 10px;
    overflow: hidden;
}

.chat_content li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat_content li img.imgleft {
    margin-left: 10px;
    float: left;
}

.chat_content li img.imgright {
    margin-right: 10px;
    float: right;
}

.chat_content li span.spanleft {
    float: left;
}

.chat_content li span.spanright {
    float: right;
}

.settings input[type="button"] {
    border-radius: 10%;
    width: 80px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 10px;
}
.settings input[type="button"]:hover {
    background-color: rgba(152, 117, 255, 0.85);
}

.settings input[type="button"]:active {
    transition: 50ms;
    background-color: rgb(241, 49, 255);
}